@model VidlyCore.Models.Customer
@{
    ViewData["Title"] = "New";
}

<h1>New Customer</h1>
<form asp-action="Create" asp-controller="Customers" method="post">
    @*<div asp-validation-summary="ModelOnly"></div>*@
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" value="" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="BirthDate"></label>
        <input type="text" value="" asp-for="BirthDate" class="form-control" />
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" asp-for="IsSubscribedToNewsletter">
        <label class="form-check-label" asp-for="IsSubscribedToNewsletter">Subscribe to Newsletter?</label>
    </div>
</form>

